body{
	padding:0px;
	width:100%;
	margin:0px;
	background-color:black;
	color:white;
}
a{
	text-decoration:none;
	color:white;
}

#head{
	display:flex;
	height:100px;
	width:100%;
	border-bottom:2px solid gray;
	box-shadow:0px 3px 5px #c3c3c3;
	padding-bottom:20px;
	position:sticky;
	top:-20px;
	background-color:black;
	z-index:1;
	
}

#logo{
	padding-left:10%;
	padding-bottom:1%;
	display:flex;
}
#container{
	background-color:tomato;
	display:flex;
	border-radius:12px 0px 0px 5px;
}
#content{
	flex:1;
	padding:5px;
	z-index:2;
	box-shadow:4px 2px 5px 3px tomato;
	border-radius:15px 0px 0px 6px;
}
#psuedo{
	background-color:black;
	flex:1;
	color:black;
	border-radius:16px 0px 0px 0px;
}
#logo h2{
	color:white;
	text-align:center;
}
#space{
	flex:4;
}

#q,#s,#h,#c{
	margin:10px;
	padding:15px;
}


#sect1{
	height:600px;
	background-image:url('images/prj1.jpg');
	background-repeat:no-repeat;
	background-position:top-center;
	background-size:cover;
	display:flex;
}

#image{
	flex:2;
	padding:10px;
	padding-top:100px;
	display:flex;
	justify-content:center;
	margin-right:50px;
}
#a_img{
	background-image:url('images/photo.jpg');
	background-size:cover;
	background-position:top;
	background-repeat:no-repeat;
	border-radius:10px 100px 10px 90px;
	opacity:0.85;
	width:55%;
	height:75%;
	z-index:1;
	box-shadow:3px 4px 5px 3px black;
}
#bio{
	flex:3;
	display:flex;
	flex-direction:column;
	justify-content:top;
	padding-left:18.5%;
}
#bio h1{
	font-size:32px;
	background: -webkit-linear-gradient(#959595, #edebd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top:53px;
}
#bio h3{
	font-size:26px;
	background:-webkit-linear-gradient(#d06305,#eece00);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}

#breaker1,#breaker2,#breaker3{
	display:flex;
	justify-content:center;
	height:140px;
	border-bottom:1px solid orange;
	
}
#breaker1 h1,#breaker2 h1,#breaker3 h1{
	position:absolute;
	font-size:46px;
	color:#fac430;
	font-family:"Courier","Arial";
}
#sect2{
	color:white;
	margin:2%;
	display:flex;
	height:550px;
	padding-bottom:20px;
	border-bottom:1px solid orange;
}
#info{
	flex:2;
}
#lgo{
	flex:1;
	border-radius:50%;
	height:90%;
	background-color:white;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	background-image:url('images/ql.jpg');
	padding:10px;
}
#c10,#c12,#college{
	font-style:bold;
	font-size:21px;
	padding:5px;
}
#sect3{
	color:white;
	padding:2%;
	display:flex;
	height:1300px;
	padding-bottom:20px;
	border-bottom:1px solid orange;
	flex-direction:column;
	background-color:#04354f;
}
#part1,#part2{
	height:100%;
	display:flex;
	margin:5px;
	width:100%;
	flex-direction:column;
}
#part1{
	
	background-image:url('images/backs.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
	padding-bottom:4%;
	margin-bottom:10px;
	border-bottom:1px solid #f4d691;
}
#part2{
	margin-top:25px;
	margin-bottom:20px;
	background-image:url('images/prlogos.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
#headin,#titlep{
	margin-top:0px;
	margin-left:5%;
	font-size:39px;
	margin-bottom:0px;
}
#fix2{
	flex:20;
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-between;
	text-align:center;
}
#android h1{
	font-size:32px;
	margin-bottom:0px;
	text-align:center;
	text-align:left;
	color:#a58be6;
}
#android h2{
	padding-top:0px;
	text-align:left;
	padding-left:40px;
	color:#43d741;
}
#android p{
	text-align:left;
	font-size:20px;
	color:tomato;
}
#android a{
	text-shadow:2px 1px 3px #dfdfdf;
}
pyprj{
	padding-left:15%;
	padding-bottom:50px;
}
#pyprj h1{
	
	font-size:36px;
	color:#a58be6;
}
#pyprj p{
	text-align:left;
	padding-left:15%;
	font-size:19px;
	color:tomato;
}
#fix{
	flex:20;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	text-align:center;
}

#fix{
	background-image:url('images/logos.png');
	background-position:center;
	background-repeat:no-repeat;
	color:#a58be6;
}
#fix div,#fix2 div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:2%;
}
#fix p{
	padding-right:80px;
	padding-left:80px;
	text-align:left;
	margin-top:0px;
	padding-bottom:110px;
	font-weight:bold;
}
#wb{
	text-align:center;
	font-size:28px;
	padding-right:15px;
}
#wbp{
	margin-bottom:190px;
	text-align:center;
}

#slider{
	height:750px;
	width:100%;
	display:flex;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
#slide{
	width:80%;
	height:100%;
	flex:10;
	display:flex;
	
}
#l-arrow,#r-arrow{
	display:flex;
	flex-direction:column;
	justify-content:center;
	flex:1;
}
#l-arrow div,#r-arrow div{
	height:15%;
	width:100%;
	background-image:url('images/left.png');
	background-position:center;
	background-size:90px 90px;
	background-repeat:no-repeat;
	border-radius:50%;
	opacity:0.6;
	background-color:white;
}
#r-arrow div{
	background-image:url('images/right.png');
}

#text{
	margin-left:2%;
	margin-top:1%;
	height:40%;
	width:30%;
	display:flex;
	justify-content:center;
	
}
#text h3{
	text-align:center;
}

#footer{
	margin-top:20px;
	padding-top:15px;
	border-top:5px solid #e1903f;
	box-shadow:4px 2px 7px 5px #efb070;
	text-align:right;
	color:maroon;
}
#footer h3{
	font-size:28px;
	color:#9c9c9c;
	text-align:left;
	margin-bottom:20px;
}
#footer p{
	padding-left:10%;
	color:#fff200;
	margin-top:0px;
	font-size:19px;
	text-align:left;
}


.anim{
	animation:animm ease-in 1.6s 1;
}

@keyframes animm{
	0%{
		opacity:1.0;
	}
	50%{
		opacity:0.0;
	}
	100%{
		opacity:1.0;
	}
}